@page "/"

<div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Audible Computer Vision
                </div>
                <div class="card-body">
                    <NavLink class="nav-link" href="AudibleComputerVision">
                        <i class="bi bi-image-fill" style="font-size:xx-large"></i>
                    </NavLink>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Audible Weather
                </div>
                <div class="card-body">
                    <NavLink class="nav-link" href="AudibleWeather">
                        <i class="bi bi-image-fill" style="font-size:xx-large"></i>
                    </NavLink>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Invoice Analysis with Azure Form Recognizer
                </div>
                <div class="card-body">
                    <NavLink class="nav-link" href="InvoiceAnalysis">
                        <i class="bi bi-receipt-cutoff" style="font-size:xx-large"></i>
                    </NavLink>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Document Layout Analysis
                </div>
                <div class="card-body">
                    <NavLink class="nav-link" href="DocumentLayoutAnalysis">
                        <i class="bi bi-receipt-cutoff" style="font-size:xx-large"></i>
                    </NavLink>
                </div>
            </div>
        </div>
    </div>
</div>